
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
html{
  height: 100%;
}
body{
  height: 100%;
}
.inputAuthForm::placeholder {
  color: #ffc107; /* Color de advertencia de Bootstrap */
  opacity: 1; /* Opcional: para asegurarse de que el color sea visible */
}
.inputAuthForm:focus {
  background-color: black;
  color:#ffc107 ;
}
.inputAuthForm {
  background-color: black;
  border:none;
  border-bottom: 1px solid orange;
  color:#ffc107 ;
}
.container-login{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.custom-calendar .p-inputtext, .p-datepicker-trigger {
  background-color: black !important;
  color: #ffc107 ;
  border: none;
  border-bottom: 1px solid #ffc107;
}
@media (min-width: 766px) and (max-width: 800px) {
  .p-datepicker-trigger{
    width: 170px;
  }
  .p-calendar .p-datepicker-trigger  {
    padding-left: 150px;
  }
}
@media (min-width: 1000px) {
  .p-datepicker-trigger{
    width: 300px;
  }
  .p-calendar .p-datepicker-trigger  {
    padding-left: 280px;
  }
}

.p-calendar .p-inputtext, .p-datepicker-trigger  {
  height: 35px;
}
/* Estilos para el calendario cuando se muestra */
.custom-calendar .p-datepicker {
  background-color: black !important;
  color:#ffc107 ;
}
.custom-calendar .p-datepicker-header{
  background-color: #ffc107;
}

/* Estilos para los días seleccionados y al pasar el ratón */
.custom-calendar .p-datepicker td.p-datepicker-today,
.custom-calendar .p-datepicker td.p-datepicker-today span {
  background-color: #ffc107 ;
  color: black !important;
}

.custom-calendar .p-datepicker td span:hover {
  background-color: #ffc107 ;
  color: black !important;
}
.p-radiobutton{
  margin-left: 2px;
}
.genderLabel{
  margin-left: 1px;
}
.p-radiobutton-box{
  background-color:black;
}
.p-radiobutton-icon{
  background-color: #ffc107 ;;
}

